/*Позиционирование*/
/*Блочная модель*/
/*Типографика*/
/*Оформление*/
/*Анимация*/
/*Разное*/

font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-weight: 300;
	font-style: normal;

font-family: "Open Sans", Verdana, Geneva, sans-serif;
	font-weight: 300;
	font-weight: normal;
	font-style: normal;